    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}
                {{ form.username.label_tag }}
                {{ form.username }}

                {{ form.first_name.label_tag }}
                {{ form.username }}

                {{ form.last_name.label_tag }}
                {{ form.username }}

                {{ form.email.label_tag }}
                {{ form.email }}

                {{ form.password.label_tag }}
                {{ form.password }}

                {{ form.password2.label_tag }}
                {{ form.password2 }}
        <div style="margin-top: 20px;" align="center">
            <input class="button" type="submit" value="Register">
        </div>
            <input type="hidden">
        </form>
    </div>